<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标签新增</title>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
</head>
<body>
<div th:replace="~{/admin/public :: nav}"></div>
<div class="layui-container" >
    <form id="myForm" class="layui-form" action="#" method="post" th:action="@{/admin/tag/add}" style="margin-top: 60px" >
        <div class="layui-form-item" >
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" autocomplete="off" placeholder="请输入标签名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" onclick="formSubmit()" lay-filter="demo1">提交</button>
                <button type="button" class="layui-btn layui-btn-primary" onclick="window.history.go(-1)">返回</button>
            </div>
        </div>
    </form>
</div>
<footer th:insert="~{/admin/public :: footer}"></footer>
<script src="/layui/layui.js"></script>
<script>
    //layui导航依赖element模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
        element.on({});
    });
    //表格模块
    function formSubmit() {
        // 提交表单
        document.getElementById("myForm").submit();
    }


</script>
</body>

</html>