<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标签新增</title>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<div th:replace="~{/admin/public :: nav}"></div>
<div class="layui-container" >
    <form id="myForm" class="layui-form" action="#" method="post" th:action="@{/admin/tag/add}" style="margin-top: 60px" >
        <div class="layui-form-item" >
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" autocomplete="off" placeholder="请输入标签名称" class="layui-input">
            </div>
        </div>
        <div class="ui negative message" th:unless="${#strings.isEmpty(message)}" >
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">操作失败</p>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" onclick="formSubmit()" lay-filter="demo1">提交</button>
                <button type="button" class="layui-btn layui-btn-primary" onclick="window.history.go(-1)">返回</button>
            </div>
        </div>
    </form>
</div>
<footer th:insert="~{/admin/public :: footer}"></footer>
<script src="/layui/layui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script type="text/javascript">
    //layui导航依赖element模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
        element.on({});
    });
    //表格模块
    function formSubmit() {
        // 提交表单
        var myform = document.getElementById("myForm");
        for(var i=0;i<myform.length;i++){               //循环form表单
            if((myform.elements[i].value==""){          //判断每一个元素是否为空
                alert("标签不能为空哦 ^-^");
                myform.elements[i].focus();             //元素获得焦点
                return false;
            }
        }

        document.getElementById("myForm").submit();
    }

    //消息关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });


</script>
</body>

</html>