<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标签编辑</title>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<div th:replace="~{/admin/public :: nav}"></div>
<div class="layui-container" >
<form action="" method="post" th:action="@{/admin/tag/update}" style="margin-top: 60px" id="myForm">
    <div class="layui-form-item" >
        <input type="hidden" name="id" th:value="${tag.getId()}">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" th:name="name" autocomplete="off" placeholder="" class="layui-input" th:value="${tag.getName()}">
        </div>
    </div>
    <div class="ui negative message" th:unless="${#strings.isEmpty(message)}" >
        <i class="close icon"></i>
        <div class="header">提示：</div>
        <p th:text="${message}">操作失败</p>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" onclick="formSubmit()" lay-filter="demo1">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>
</div>
<footer th:insert="~{/admin/public :: footer}"></footer>
<script src="/layui/layui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    //layui导航依赖element模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
        element.on({});
    });
    //表格模块
    function formSubmit() {
        // 提交表单
        document.getElementById("myForm").submit();
    }

    //消息关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

</script>
</body>
</html>