<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标签管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航栏-->
<div th:replace="~{/admin/public :: nav}"></div>
<div class="layui-container" margin-top="30px">
    <div class="ui success message" th:unless="${#strings.isEmpty(message)}" >
        <i class="close icon"></i>
        <div class="header">提示：</div>
        <p th:text="${message}">恭喜，操作成功！</p>
    </div>
<table class="layui-table" lay-even="" lay-skin="row" style="margin-top: 60px" >
    <colgroup>
        <col width="10%">
        <col width="20%">
        <col width="25%">
    </colgroup>
    <thead>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag,tagStat : ${pageInfo.list}">
        <td th:text="${tagStat.index+1}">1</td>
        <td th:text="${tag.name}">贤心</td>
        <td><a href="#" th:href="@{/admin/tag/{id}/input(id=${tag.id})}" class="layui-btn layui-btn-sm">编辑</a>
            <a href="#" th:href="@{/admin/tag/{id}/delete(id=${tag.id})}" class="layui-btn layui-btn-sm layui-btn-normal">删除</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr >
        <td colspan="2" >
                <a th:href="@{/admin/tag}" class="layui-btn layui-btn-primary layui-btn-sm">首页</a>
                <a th:href="@{/admin/tag(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" class="layui-btn layui-btn-sm" >上一页</a>
                <a th:href="@{/admin/tag(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" class="layui-btn layui-btn-sm">下一页</a>
                <a th:href="@{/admin/tag(pageNum=${pageInfo.pages})}" class="layui-btn layui-btn-primary layui-btn-sm">尾页</a>
                当前第<span th:text="${pageInfo.pageNum}"></span>页，总<span th:text="${pageInfo.pages}"></span>页，共<span th:text="${pageInfo.total}"></span>条记录

        </td>
        <td th:align="center" >

            <a href="#" th:href="@{/admin/tag/input}" class="layui-btn layui-btn-primary layui-btn-sm" style="background-color: #33CC70;color: white">新增</a>

        </td>
    </tr>
    </tfoot>
</table>
</div>
<!--尾巴-->
<footer th:insert="~{/admin/public :: footer}"></footer>
<script src="/layui/layui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    //layui导航依赖element模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
        element.on({});
    });
    //消息关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });




</script>
</body>
</html>