<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择标签</title>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
</head>
<body>
<div class="layui-form">
    <div class="layui-form-item" style="margin: 0 15px">
        <input type="checkbox" lay-skin="primary" title="阅读" value="标签">
        <input type="checkbox" lay-skin="primary" title="游戏" value="标签2">
        <input type="checkbox" lay-skin="primary" title="游戏">
        <input type="checkbox" lay-skin="primary" title="写作">
        <input type="checkbox" lay-skin="primary" title="阅读">
        <input type="checkbox" lay-skin="primary" title="游戏">
        <input type="checkbox" lay-skin="primary" title="游戏">
    </div>
</div>
<script src="/layui/layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;
    });
</script>
</body>
</html>